﻿@using VacationManager.Models.Leave

@model LeaveDetailsViewModel
@{
    ViewBag.Title = "View Leave Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="d-flex justify-content-center">
    <div class="card " style="width: 50rem;">
        <div class="card-body">
            <h3 class="card-title text-center">@Model.Type</h3>
            <p class="card-text"><span class="fw-bold">DateFrom:</span>@Model.DateFrom</p>
            <p class="card-text"><span class="fw-bold">DateTo:</span>@Model.DateTo</p>
            <p class="card-text"><span class="fw-bold">CreationDate:</span>@Model.CreationDate</p>
            <p class="card-text"><span class="fw-bold">HalfDay:</span>@Model.HalfDay</p>
            <p class="card-text"><span class="fw-bold">Approved:</span>@Model.Approved</p>
            <p class="card-text"><span class="fw-bold">Applicant:</span>@Model.Applicant</p>

            <tr class="actions">
                <th><span class="fw-bold">Actions:</span></th>
                <td>
                    <a asp-controller="Team" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                    <a asp-controller="Team" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </div>
    </div>
</div>
