﻿@using VacationManager.Models.Team

@model TeamDetailsViewModel
@{
	ViewBag.Title = "View Team Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="d-flex justify-content-center">
	<div class="card " style="width: 50rem;">
		<div class="card-body">
			<h3 class="card-title text-center">@Model.Name</h3>
			<p class="card-text"><span class="fw-bold">Project:</span>@Model.Project</p>
			<p class="card-text"><span class="fw-bold">Leader:</span>@Model.Leader</p>

			@if (Model.Leader == User.Identity.Name)
			{
				<tr class="actions">
					<th><span class="fw-bold">Actions:</span></th>
					<td>
						<a asp-controller="Team" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
						<a asp-controller="Team" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			}
		</div>
	</div>
</div>
